{% extends 'base.html' %} {% block content %}

<h1> <u>Edit pet details</u></h1>

<form action="/pets/{{pet.id}}" method ='POST'>
    <label for="name"> Enter patient name: </label>
    <input type="text" name="name" id="name" value="{{pet.name}}">
    <br>
    <label for="dob"> Enter dob: </label>
    <input type="date" name="dob" id="dob" value="{{pet.dob}}">
    <br>
    <label for="species"> Select species: </label>
    <select name="species" id="species">
        <option value="Dog" {% if pet.species == "Dog" %} selected = "selected" {% endif %}>Dog</option>
        <option value="Cat" {% if pet.species == "Cat" %} selected = "selected" {% endif %}>Cat</option>
        <option value="Snake" {% if pet.species == "Snake" %} selected = "selected" {% endif %}>Snake</option>
        <option value="Parrot"{% if pet.species == "Parrot" %} selected = "selected" {% endif %}>Parrot</option>
        <option value="Hamster"{% if pet.species == "Hamster" %} selected = "selected" {% endif %}>Hamster</option>
    </select>
    <br>
    
    <label for="owner"> Enter owner name: </label>
    <select id="owner" name="owner_id">
        {% for owner in all_owners %}
            {% if (owner.registered == '1') and (owner.id == pet.owner.id) %}
            <option value="{{owner.id}}" selected ="selected">{{owner.first_name}} {{owner.last_name}}</option>
            {% elif owner.registered == '1' %}
            <option value="{{owner.id}}">{{owner.first_name}} {{owner.last_name}}</option>
            {% elif (owner.registered == '0') and (owner.id == pet.owner.id) %}
            <option value="{{owner.id}}" selected ="selected">{{owner.first_name}} {{owner.last_name}} (unregistered)</option>
            {% else %}
            <option value="{{owner.id}}"> {{owner.first_name}} {{owner.last_name}} (unregistered)</option>
        {% endif %}
        {% endfor %}
    </select>
   
    <label for="vet"> Assign to vet: </label>
    <select id="vet" name="vet_id">
        {% for vet in all_vets %}
        <option value="{{vet.id}}"
            {% if vet.id == pet.vet.id %} selected ="selected"{% endif %}>{{vet.first_name}} {{vet.last_name}}</option>
        {% endfor %}
    </select>
    <br>
    <label for="treatment_notes"> Enter Treatment Notes: </label>
    <textarea name="treatment_notes" id="treatment_notes" rows="5" cols="30" value="{{pet.treatment_notes}}"> {{pet.treatment_notes}}</textarea>
    <br>
    <button type="submit">Submit</button>
</form>
{% endblock %}