{% extends 'base.html' %} {% block content %}

<h1> Register a new patient</h1>

<form action="/pets" method ='POST'>
    <label for="name"> Enter patient name: </label>
    <input type="text" name="name" id="name">
    <br>
    <label for="dob"> Enter dob: </label>
    <input type="text" name="dob" id="dob">
    <br>
    <label for="species"> Enter species: </label>
    <input type="text" name="species" id="species">
    <br>
    <label for="owner"> Enter owner name: </label>
    <input type="text" name="owner" id="owner">
    <br>
    <label for="contact_no"> Enter contact telephone number: </label>
    <input type="text" name="contact_no" id="contact_no">
    <br>
    <label for="treatment_notes"> Enter Treatment Notes: </label>
    <textarea name="dob" id="dob" rows="5" cols="30"></textarea>
    <br>
    <label for="vet"> Assign to vet: </label>
    <select id="vet" name="vet_id">
        {% for vet in all_vets %}
        <option value="{{vet.id}}">{{vet.first_name}} {{vet.last_name}}</option>
        {% endfor %}
    </select>
    <br>
    <button type="submit">Submit</button>
</form>
{% endblock %}