{% extends 'base.html' %} {% block content %}

<h2> {{pet.name}}</h2>
<h3> Species: {{pet.species}}</h3>
<h3> DOB: {{pet.dob}}</h3>
<p> Owner Name: {{pet.owner}}</p>
<!-- <img src="../../images/vera.jpg" alt="Pet Image"> -->
<p> Contact Number: {{pet.contact_no}}</p>
<p> Treatment Notes: {{pet.treatment_notes}}</p>
<p> Registered with:</p>
<p> {{vet.first_name}} {{vet.last_name}}</p>
<br>
<a href="/pets/{{pet.id}}/edit">Edit Details</a>

<form class ="delete-form" action="/pets/{{pet.id}}/delete" method="POST">
    <button class="trash-button"> Unregister</button>
</form>

{% endblock %}