{% extends 'base.html' %} {% block content %}

<h2> <u>{{pet.name}}</u></h2>
<h3> <b>Species:</b> {{pet.species}}</h3>
<h3> <b>Date of birth:</b> {{pet.dob}}</h3>
<p> <b>Owner Name:</b> {{owner.first_name}} {{owner.last_name}}</p>
<p> <b>Treatment Notes:</b> {{pet.treatment_notes}}</p>
{% if pet.vet == None %}
<p><b> No Vet assigned</b></p>
{% else %}
<p> <b>Registered with:</b> {{vet.first_name}} {{vet.last_name}}</p>
{% endif %}
<br>
<a href="/pets/{{pet.id}}/edit">Edit Details</a>

<form class ="delete-form" action="/pets/{{pet.id}}/delete" method="POST">
    <button class="trash-button"> Unregister</button>
</form>

{% endblock %}