{% extends 'base.html' %} {% block content %}

<h1> <u>{{vet.first_name}} {{vet.last_name}}</u></h1>
<h3> <b>Position:</b> {{vet.position}}</h3>
<h3> <b>Patients:</b></h3>

<ul id ='pet_list'>
     {% for pet in pets %}
        <a href ='../pets/{{pet.id}}'><li>{{pet.name}} the {{pet.species}}</li></a>
    {% endfor %}
</ul>
<br>
<a id = 'edit' href="/vets/{{vet.id}}/edit">Edit Details</a>
<br>
<form class ="delete-form" action="/vets/{{vet.id}}/delete" method="POST">
    <button class="trash-button"> Remove Staff Member</button>
</form>

{% endblock %}
