header {
    background-color:mediumseagreen;
    margin:0;
    padding:5px;
    overflow:hidden;
}

header ul{
    float:left;
}

header a{
    color:black
}

header h1{
    float:right;
    font-family: 'ADLaM Display', cursive;
    font-size: 3vw;
}

body { 
    background-image:url(/static/images/background.jpeg);
    margin:0;
    font-family: 'Noto Sans JP', sans-serif;

}

.container {
    background-color: white;
    margin: 0 15% 0 15%;
    border-radius: 10px;
    position:relative;
}

.container #new{
    display:inline-block;
    position: absolute;
    top: 1%;
    right: 1%;
}

.container h1{
    display: inline-block;
    margin-left: 10px;
}

.container h2{
    margin-left: 10px;
}

.container h3{
    margin-left: 10px;
}

.container p{
    margin-left: 10px;
}

.container a{
    margin-left: 10px;
}

ul {
    list-style: None;

}

img {
    width: 200px;
    height: 200px;
    display: inline-block;
    object-fit: cover;
    border-radius: 50%;
    object-position: 50% 10%;
    margin: 0 3% 0 3%;
}

.images{
    text-align: center;
}

.container li{
    margin: 0;
    border-style: groove none none none;
    width: 90%;
    border-width: medium;
    margin-bottom: 2%;
}

label{
    float: left;
    clear: left;
    width: 40%;
    text-align: right;
}

input {
  float: left;
  margin-bottom: 10px;
  width: 20%;
}

select {
    float: left;
    margin-bottom: 10px;
    width: 20%
}

textarea {
    float: left;
    margin-bottom: 10px;
    width:30%;
  }

.container form{
    overflow:hidden;
}

button{
    margin: 10px;
    padding: 5px;
    position:absolute;
    bottom: 5px;
    right: 5px;
}

#pet_list li{
    border-style: none;
}

#vet {
    display: inline-block;
    margin-right: 10%;
}

#owner {
    display: inline-block;
    margin-right: 10%;
}

#edit {
    display:inline-block;
    position: absolute;
    top: 1%;
    right: 1%;
}