header {
    background-color:mediumseagreen;
    margin:0;
    padding:5px;
    overflow:hidden;
    border-style: none none solid none;
    border-color: black;
    border-width: medium;
}

header ul{
    float:left;
}

header a{
    color:black
}

header h1{
    float:right;
    font-family: 'ADLaM Display', cursive;
    font-size: 3vw;
    margin-right: 50px;
}

body { 
    background-color: lightgray;
    background-image:url(/static/images/background.jpeg);
    margin:0;
    font-family: 'Noto Sans JP', sans-serif;

}

.container {
    background-color: white;
    margin: 2% 15% 5% 15%;
    border-color: black;
    border-radius: 10px;
    border-width: medium;
    position:relative;
    border-style: solid;
    padding: 0 0 20px 0;

}

.container #new{
    display:inline-block;
    top: 40px;
    right: 90px;
}

.container h1{
    display: inline-block;
    margin-left: 40px;
}

.container h2{
    margin-left: 40px;
}

.container h3{
    margin-left: 40px;
}

.container p{
    margin-left: 40px;
}

.container a{
    margin-left: 40px;
}

ul {
    list-style: None;

}

img {
    width: 200px;
    height: 200px;
    display: inline-block;
    object-fit: cover;
    border-radius: 50%;
    object-position: 50% 10%;
    margin: 0 3% 3% 3%;
    border: solid;
    border-width:thin;
    border-color: black;
}

.images{
    text-align: center;
}

.container li{
    margin: 0;
    border-style: groove none none none;
    width: 90%;
    border-width: medium;
    margin-bottom: 2%;
}

label{
    float: left;
    clear: left;
    width: 40%;
    text-align: right;
}

input {
  float: left;
  margin-bottom: 10px;
  width: 20%;
}

select {
    float: left;
    margin-bottom: 10px;
    width: 20%
}

textarea {
    float: left;
    margin-bottom: 10px;
    width:30%;
  }

.container form{
    overflow:hidden;
}

button{
    margin: 10px;
    padding: 10px;
    position:absolute;
    right: 40px;
    bottom: 20px;
    background-color: mediumseagreen;
    border: none;
    border-radius: 5px;

}

button:hover{
    background-color: seagreen;
    transition: 0.7s;
}

#pet_list li{
    border-style: none;
}

#vet {
    display: inline-block;
    margin-right: 10%;

}

#owner {
    display: inline-block;
    margin-right: 10%;

}

#edit {
    display:inline-block;
    margin: 0 5% 0 5%;
}