header {
    background-color:mediumseagreen;
    margin:0;
    padding:5px;
    overflow:hidden;
}

header ul{
    float:left;
}

header a{
    color:black
}

header h1{
    float:right;
    font-family: 'ADLaM Display', cursive;
}

body { 
    background-image:url(/static/images/background.jpeg);
    margin:0;
    font-family: 'Noto Sans JP', sans-serif;

}

.container {
    background-color: white;
    margin: 0 15% 0 15%;
    border-radius: 10px;
    position:relative;
}

.container #new{
    display:inline-block;
    margin-left: 50%;
}

.container h1{
    display: inline-block;
}

ul {
    list-style: None;

}

img {
    width: 20%;
    display: inline-block;


}

.images{
    text-align: center;
}

.container li{
    margin: 0;
    border-style: groove none none none;
}

label{
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}

input {
  float: left;
  margin-bottom: 10px;
}

select {
    float: left;
    margin-bottom: 10px;
}

textarea {
    float: left;
    margin-bottom: 10px;
  }

.container form{
    overflow:hidden;
}

button{
    margin: 10px;
    padding: 5px;
    position:absolute;
    bottom: 5px;
    right: 5px;
}

#pet_list li{
    border-style: none;
}