{% extends 'base.html' %} {% block content %}

<h1> <u>{{owner.first_name}} {{owner.last_name}}</u></h1>

<h3> <b>Contact Telephone:</b> {{owner.contact_no}}</h3>

{% if owner.registered == '1' %}
<p>Currently registered with surgery <span id = 'tick'>&#9989;</span></p>
{% else %}
<p>Not currently registered <span id = 'cross'>&#10060;</span> </p>
{% endif %}

<p> <b>Owner of:</b></p>

<ul id ='pet_list'>
     {% for pet in pets %}
        <a href ='../pets/{{pet.id}}'><li>{{pet.name}} the {{pet.species}}</li></a>
    {% endfor %}
</ul>
<br>

<a id ='edit' href="/owners/{{owner.id}}/edit">Edit Details</a>
<br>

<form class ="delete-form" action="/owners/{{owner.id}}/delete" method="POST">
    <button class="trash-button"> Remove from records</button>
</form>

{% endblock %}
