<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Archivo+Black&family=Bebas+Neue&family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <h1> Sickley's Veterinary Surgery</h1>
        <nav>
            <ul>
                <li><a href = '/'>Home</a></li>
                <li><a href = '/vets'> Veterinary Staff</a></li>
                <li><a href = '/pets'> Registered Pets</a></li>
            </ul>
        </nav>
    </header>
    <div class ='container'>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>