{% extends 'base.html' %} {% block content %}

<h1><u>Welcome to Sickley's</u></h1>
<p> From here you can view, add, remove or update any veterinary staff or pets registered with the practice along with their owners.</p>
<p> Please select from 'All Vet Staff', 'All Pets' or 'All Owners' from the Navbar above to continue.</p>

<div class='images'>
<img src="/static/images/vera.jpg" alt="Nice dog 01">
<img src="/static/images/finn.jpeg" alt="Nice dog 02">
<img src="/static/images/sid.jpeg" alt="Nice cat 01">
</div>




{% endblock %}